/*
* @Author: asus
* @Date:   2017-10-14 20:57:31
* @Last Modified by:   asus
* @Last Modified time: 2017-10-19 10:42:38
*/
@import url('base.css');
.zhanghao{
	width: 100%;
	height: 1.5rem;
	background:#fff;
	display: flex;
	align-items: center;
}
.yonghu-zi{
	font-size: 0.4rem;
	margin-left: 0.3rem;
	font-weight: bold;
}
.yonghu-zi1{
	font-size: 0.25rem;
}
.touxiang{
	width: 20%;
	height: 100%;

}
.touxiang img{
	width: 100%;
	height: 100%;
	display: block;
	margin-left: 1.5rem;
}
.icon{
	font-family: "iconfont";
	font-style: normal;
	font-size: 0.5rem;
	color:#dadada;
	display: flex;
	margin-left: 1.8rem;
}
/* 信息开始 */
.xinxi{
	width: 100%;
	height:1.5rem;
	background: gold;
	display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-around; */
}
.xinxi-1{
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.xinxi-zi{
	width: 100%;
	height: 0.2rem;
	/* background: pink; */
	font-size: 0.3rem;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.shu{
	font-size: 0.3rem;
}
/* 信息完 */
/* nav开始 */
/* 1 */
.nav{
	width: 100%;
	height: 1.2rem;
	background:#fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 15px solid #dadada;
	border-bottom: 1px solid #dadada;
	justify-content: space-around;
}
.icon1{
	font-family: "iconfont";
	font-style: normal;
	font-size: 0.5rem;
	color:#dadada;
	display: flex;
}
.list{
	width: 10%;
	font-size: 0.3rem;
	margin-right: 4.5rem;

}
.list1{
	font-size: 0.3rem;
}
/* 2 */
.nav1{
	width: 100%;
	height: 1.2rem;
	background:#fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dadada;
	justify-content: space-around;
}
.icon1{
	font-family: "iconfont";
	font-style: normal;
	font-size: 0.5rem;
	color:#dadada;
	display: flex;
}
.list{
	width: 10%;
	font-size: 0.3rem;
	margin-right: 4.5rem;

}
.list1{
	font-size: 0.3rem;
}
/* 3 */
.nav2{
	width: 100%;
	height: 1.2rem;
	background:#fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dadada;
	justify-content: space-around;
}
.icon1{
	font-family: "iconfont";
	font-style: normal;
	font-size: 0.5rem;
	color:#dadada;
	display: flex;
}
.list{
	width: 10%;
	font-size: 0.3rem;
	margin-right: 4.5rem;

}
.list1{
	font-size: 0.3rem;
}
/* 4 */
.nav3{
	width: 100%;
	height: 1.2rem;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dadada;
	justify-content: space-around;
}
.icon1{
	font-family: "iconfont";
	font-style: normal;
	font-size: 0.5rem;
	color:#dadada;
	display: flex;
}
.list{
	width: 10%;
	font-size: 0.3rem;
	margin-right: 4.5rem;

}
.list1{
	font-size: 0.3rem;
}
/* 5 */
.nav4{
	width: 100%;
	height: 1.2rem;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dadada;
	justify-content: space-around;
}
.icon1{
	font-family: "iconfont";
	font-style: normal;
	font-size: 0.5rem;
	color:#dadada;
	display: flex;
}
.list{
	width: 10%;
	font-size: 0.3rem;
	margin-right: 4.5rem;

}
.list1{
	font-size: 0.3rem;
}
/* 6 */
.nav5{
	width: 100%;
	height: 1.5rem;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dadada;
	border-top: 15px solid #dadada;
	justify-content: space-around;
}
.icon1{
	font-family: "iconfont";
	font-style: normal;
	font-size: 0.5rem;
	color:#dadada;
	display: flex;
}
.list{
	width: 10%;
	font-size: 0.3rem;
	margin-right: 4.5rem;

}
.list1{
	font-size: 0.3rem;
}
/* 7 */
.nav6{
	width: 100%;
	height: 1.2rem;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dadada;
	border-top: 15px solid #dadada;
	justify-content: space-around;
	margin-bottom: 50px;
}
.icon1{
	font-family: "iconfont";
	font-style: normal;
	font-size: 0.5rem;
	color:#dadada;
	display: flex;
}
.list{
	width: 50px;
	font-size: 0.22rem;

}
.list1{
	font-size: 0.3rem;
}
/* 项目栏开始 */
.tab{
	width: 100%;
	height:1rem;
	background:#f4bb0f;
	display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
}
.tab-1{
	width: 15%;
	height: 0.6rem;
	/* background: pink;
 */	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.icon1{
	font-family: "iconfont";
	font-style: normal;
	font-size: 20px;
	color:#ae14ad;
	display: flex;

}
.icon-zi{
	width: 100%;
	height: 0.2rem;
	/* background: pink; */
	font-size: 0.2rem;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
/* 项目栏结束 */













